p {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);

  margin: 2px 0 0 0;
  font-family: monospace;
  color: #fff;
}
.fa {
  font-size: 24px;
  color: #000;
}
.pick-song {
  font-family: "Electrolize", sans-serif;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
