body, #chars {
    transition: background .5s ease-in-out, color .1s ease-in-out;
    -moz-transition: background .5s ease-in-out, color .1s ease-in-out;
    -webkit-transition: background .5s ease-in-out, color .1s ease-in-out;
    font-family: arial,helvetica,sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#chars {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0;
    line-height: 100vh;
    font-size:3vh;
    transform: translate(-50%, 0);
    padding-top: calc(50% - 120vh);
    bottom:0;
}