canvas {
  background: rgb(56, 35, 37);
}
p {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  margin: 2px 0 0 0;
  font-family: monospace;
  color: #fff;
}
.fa {
  font-size: 24px;
  color: #fff;
}
