@import url(https://fonts.googleapis.com/css?family=Flavors);

.instruct {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: absolute;
  top: calc(50% - 200px);
  left: 0%;
  right: 0%;
  color: rgba(132, 79, 0, 1);
  text-align: center;
}
.instruct h1 {
  text-align: center;
  width: 100%;
  font-family: "Flavors", "Cursive";
}
